.v-carousel__controls{
  background-color: transparent !important;
  .v-carousel__controls__item {
    color: white !important;
    width: 12px !important;
    height: 12px !important;

  }
  .v-btn:before{
    display: none !important;
  }
    .v-item--active{
      color: #209EE9 !important;
    }
    .v-carousel__controls__item .v-icon{
      opacity: 1 !important;
    }
}
