@font-face {
  font-family: 'Helvt';
  font-weight: 500;
  src: url('~/assets/fonts/HelveticaNeue.otf');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helvt';
  src: url('~/assets/fonts/HelveticaNeue-Light.ttf');
  font-style: normal;
  font-display: swap;
  font-weight: lighter;
}
@font-face {
  font-family: 'Helvt';
  font-weight: 600;
  src: url('~/assets/fonts/HelveticaNeue-Medium.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'Helvt';
  src: url('~/assets/fonts/HelveticaNeueBd.ttf');
  font-display: swap;
  font-weight: bold;
}




